body {
  margin: 50px;
}
#notes li {
  position: relative;
  word-break: break-all;
  padding: 10px 90px 10px 15px;
}
#notes li button {
  margin: 0 0 20px 20px;
  position: absolute;
  top: 3px;
}
.btn-danger {
  right: 45px;
}
.btn-success {
  right: 3px;
}
.btn-danger,
.btn-success {
  font-weight: bold;
}
.highlight {
  background-color: #198754;
  color: #000;
  text-decoration: line-through;
}

@media only screen and (max-width: 550px) {
  body {
    margin: 10px;
  }
}
